<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="xyz.iridiumion.iridiumdroid.CryptText3" android:installLocation="auto" android:versionCode="13">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="CryptText3" android:icon="@drawable/icon"></application>
</manifest>